{% macro displayNewsList(news_list) %}
      {% for news in news_list | batch(3) %}

       <div class="row">
           {% for news in news %}
           <div class="col-md-4">
           <h2>{{ news.name }}</h2>
           <p> {{ news.description }} </p>
           <p><a class="btn btn-outline-primary" href="/news/{{news.id}}" role="button">View details &raquo;</a></p>
           </div>
       {% endfor %}
       </div>

       {% endfor %}

      {% endmacro %}
{% macro displayArticlesList(articles_list) %}
      {% for articles in articles_list %}
      div class="row">
          {% for new in news %}
          <div class="col-md-4">
          <h2>{{ new.name }}</h2>
          <p> {{ new.description }} </p>
          <p><a class="btn btn-outline-primary" href="/news/{{news.id}}" role="button">View details &raquo;</a></p>
          </div>
      {% endfor %}
      </div>


      <ul>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 newspost">
        <b>
        <a href="{{ articles.url }}">{{ articles.name }}</a>
        <br>Title:{{ articles.title }}</br>
        <blockquote>{{ articles.description }}
        </blockquote>
        <br>{{ articles.urlToImage }}</br>
        <br>{{ articles.publishedAt }}</br>
        <small>
          <a href="{{articles.url }}">View This Article</a>
        </small>
      </div>
      </ul>
      {% endfor %}
{% endmacro %}
