{% macro displayNewsList(news_list) %}
      {% for news in news_list | batch(3) %}

       <div class="row">
           {% for news in news %}
           <div class="col-md-4">
           <h2>{{ news.name }}</h2>
           <p> {{ news.description }} </p>
           <p><a class="btn btn-outline-primary" href="/news/{{news.name}}" role="button">View details &raquo;</a></p>
           </div>
           {% endfor %}
       </div>

        {% endfor %}

      {% endmacro %}
{% macro displayArticlesList(articles_list) %}
      {% for articles in articles_list %}
          <div class="col-md-4">
          <h2>{{ articles.title }}</h2>
          <img src="{{articles.urlToImage}}" height="150px" width="200px">
          <p> {{ articles.description }} </p>
          <p><a class="btn btn-outline-primary" href="{{articles.url}}" role="button">View details &raquo;</a></p>
          </div>

      {% endfor %}

      <ul>

{% endmacro %}
