{% macro displayNewsList(news_list) %}
      {% for news in news_list %}
      <li>
      {{ news.name }}
      {{ news.description }}
      {{ news.url }}
      {{ news.category }}
      {{ news.language }}
      {{ news.country }}
    </li>
      {% endfor %}
      {% endmacro %}
{% macro displayArticlesList(articles_list) %}
      {% for articles in articles_list %}
      <li>
        {{ articles.name }}
        {{ articles.title }}
        {{ articles.description }}
        {{ articles.url }}
        {{ articles.urlToImage }}
        {{ articles.publishedAt }}
      </li>
      {% endfor %}
{% endmacro %}
