{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>  Welcome to the Greatest News Articles and Everything News Related Website Online </title>
        {% endif %}
    </head>
    <body>
      {% block content %}
    <div>
      <h3> TOP NEWS </h3>
    </div>
    <ul>
    {{  macro.displayArticlesList(articles) }}
    </ul>
    {% endblock %}

    </body>
</html>
